<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>Portfolio</title>
    <meta name="generator" content="Eleventy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/assets/vendor/slick/slick.css" />
    <link rel="stylesheet" href="/assets/vendor/slick/slick-theme.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css" />
    <!-- Stylesheets -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/stars.css" rel="stylesheet" />
    
    <!--Favicon-->
    <link rel="shortcut icon" href="/assets/images/favIcon.png" type="image/x-icon" />
    <link rel="icon" href="/assets/images/favIcon.png" type="image/x-icon" />

    <!-- Theme Initialization Script -->
    <script>
      const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
      document.documentElement.setAttribute("data-theme", theme);
  </script>
  </head>

  <body>
  {% block navbar %}
    <nav class="navbar navbar-expand-lg site-navigation">
      <div class="container">
        <p class="tag">A. J. HÄMÄLÄINEN</p>

        <button
          class="navbar-toggler collapsed"
          input-type="button"
          data-toggle="collapse"
          data-target="#sitenavbar"
          aria-label="Menu"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="sitenavbar">
          <ul class="navbar-nav main-nav ml-auto">
            {% for navLink in nav.navLinks %}
            <li class="nav-item">
              {% if navLink == "home" %}
                <a class="nav-link" href="/">{{navLink | capitalize}}</a>
              {% elif navLink != "home" and page.url != "/" + navLink %}
                <a class="nav-link" href="/{{navLink}}">{{navLink | capitalize}}</a> 
              {% endif %} 
            </li>
            {% endfor %}
            <li class="nav-item">
              <button
                class="theme-toggler"
                data-theme-toggle 
                aria-label="Switch between light and dark theme"
                >
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block content %}
    {{content | safe}}
  {% endblock %}

{#   {% block workTogether %}
    <section class="site-cta">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="site-cta-title">{{workTogether.heading}}</h1>
            <ul class="site-cta-buttons">
              <li>
                <a href="/{{workTogether.submitBtn.btnLink}}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{workTogether.submitBtn.btnText}}">
                      {{workTogether.submitBtn.btnText}}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/{{workTogether.convBtn.btnLink}}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{workTogether.convBtn.btnText}}">
                      {{workTogether.convBtn.btnText}}
                    </span> 
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  {% endblock %} #}

  {% block footer %}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-footer-heading">{{footer.footerHeading}}</div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <p class="site-footer-widget-title">{{footer.contactsHeading}}</p>
              <p class="site-footer-widget-description">
              {% for contactInfo in footer.contactsInfo %}
                <i class="fa fa-envelope" aria-label="email"></i>&nbsp;<a href="{{contactInfo.link}}{{contactInfo.text}}">a.j.hamalainen@outlook.com</a>
                <br>
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="site-footer-widget">
              <p class="site-footer-widget-title">{{footer.socialHeading}}</p>
              <ul class="site-footer-widget-links">
                {% for socialMedia in footer.socialMedia %}
                <li>
                  <a href="https://www.linkedin.com/in/anttijoonas" target="_blank"><i class="fa fa-linkedin-square" aria-label="linkedin"></i>&nbsp;{{socialMedia.text}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="site-footer-widget">
              <p class="site-footer-widget-title">{{footer.siteMapHeading}}</p>
              <ul class="site-footer-widget-links">
                {% for siteMap in footer.siteMap %}
                 <li>
                  <a href="/{{siteMap.link}}">{{siteMap.text}}</a>
                 </li> 
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="site-footer-widget">
              <p class="site-footer-widget-title">{{footer.brandHeading}}</p>
              <p class="site-footer-widget-description">
              {% for brandMotto in footer.brandMotto %}
                {{brandMotto}}
                <br>
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="col-lg-2 col-12">
            <div class="site-footer-widget">
              <p class="site-footer-widget-title">{{footer.learnHeading}}</p>
              <p class="site-footer-widget-description">
              {% for learnMotto in footer.learnMotto %}
                {{learnMotto}}
                <br>
              {% endfor %}
              </p>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div>
      <div class="copyright">
        <p style="color:#ffffff;">© Copyright 2026 - AJH &#10033; Built with <a href="https://github.com/StaticMania/roxo-eleventy" target="_blank">Roxo Eleventy</a></p>
      </div>
    </div>
  {% endblock %}
    <!-- <script src="js/vendor.js"></script> -->
    <script src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/theme-toggle.js"></script>
  </body>
</html>