{% extends "base.njk" %}

{% block content %}
  <section class="site-about-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-about-wrapper">
              <div class="site-about-company">
                <h1 class="pitch">- Two decades of diverse design experience combined with relentless curiosity and hunger for learning -</h1>
                <div id='stars'></div>
                <div id='stars2'></div>
                <div id='stars3'></div>
              </div>
              <div class="site-about-description">
                <h2 class="emphasis">
                  {{hdr}}
                </h2>
                <br />
                <p>
                  {{des}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="expertise">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="exp-title-centered">
              <h2>{{expertises.title}}</h2>
            </div>
          </div>
          <div class="container">
            {% for verifiedExperiences in expertises.verifiedExperiences %}
              <button type="button" class="expander" aria-expanded="false">
                <div class="row">
                  <div class="col-lg-6 col-md-6" style="text-align: left;">
                    <p class="position">
                      <span style="font-weight: 500;">{{verifiedExperiences.title}}</span>
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6" style="text-align: right; padding-right: 33px;">
                    <p class="position">
                      {{verifiedExperiences.startDate}}&nbsp;-&nbsp;{{verifiedExperiences.endDate}}
                    </p>
                  </div>
                </div>
                <img class="logo" src="{{verifiedExperiences.icon}}" alt="[{{verifiedExperiences.altText}}]">&nbsp;
              </button>
              <div class="content">
                <table>
                  <table><thead>
                    <tr>
                      <td class="notch">
                        <p>&#9493;</p>
                      </td>
                      <td>
                        <p>{{verifiedExperiences.employer}}</p>
                        <p>{{verifiedExperiences.description}}</p>
                        <div style="margin-bottom: 32px;">
                          {% for badge in verifiedExperiences.badges %}
                          <p class="badge badge-pill badge-secondary" style="margin-bottom: 0px">{{badge}}</p>
                          {% endfor %}
                        </div>
                      </td>
                    </tr>
                  </thead>
                </table>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skillset">
      <div class="container">
        <div class="col-12">
          <div class="exp-title-centered">
            <h2>{{skills.title}}</h2>
          </div>
        </div>
        <div class="row">
          {% for category in skills.categories %}
          <div class="col-sm-4">
            <h3 class="skill-category">{{category.categoryName}}</h3>
            {% for skill in category.skills %}
              <p style="float: left; margin: 16px 0px 8px 0px; display: inline">{{skill.name}}</p>
              <p style="float: right; margin: 16px 0px 8px 0px; display: inline">{{skill.status}}</p>
              <svg 
                version="1.1"
                encoding="UTF-8"
                standalone="no"
                x="0px"
                y="0px"
                viewBox="0 0 430 33"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xml:space="preserve"
                style="enable-background:new 0 0 430 33;"
                role="img"
                aria-labelledby="titleID descID"
              >
                <title id="titleID">Skills in {{skill.name}}</title>
                <desc id="descID">{{skill.status}}</desc>
                <defs>
                  <linearGradient id="meter">
                    <stop offset="0%" stop-color="#FC6767" />
                    <stop offset="100%" stop-color="#EC008C" />
                  </linearGradient>
                </defs>
                <rect 
                  x="0"
                  y="0"
                  style="fill: rgba(255,255,255,0);"
                  width="430"
                  height="33"
                />
                <rect
                  id="progress"
                  x="-{{skill.level}}"
                  y="1"
                  style="fill:url(#meter);"
                  width="{{skill.level}}"
                  height="31"
                />
                <g>
                  <path 
                    d="M240.8,33l17.183,-16.483l17.217,16.483l-34.4,0Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M240.8,0l34.4,0l-17.217,16.517l-17.183,-16.517Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M326.8,33l17.183,-16.483l17.217,16.483l-34.4,0Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M326.8,0l34.4,0l-17.217,16.517l-17.183,-16.517Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M154.8,33l17.183,-16.483l17.217,16.483l-34.4,0Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M154.8,0l34.4,0l-17.217,16.517l-17.183,-16.517Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M68.8,33l17.183,-16.483l17.217,16.483l-34.4,0Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M68.8,0l34.4,0l-17.217,16.517l-17.183,-16.517Z" style="fill:var(--background);"
                  />
                  <path 
                    d="M17.2,33.034l-17.2,-16.534l17.2,-16.466l-17.203,-0l0,32.907l17.203,0.093Z"
                    style="fill:var(--background);"
                  />
                  <path 
                    d="M412.797,33.034l17.2,-16.534l-17.2,-16.466l17.203,-0l0,32.907l-17.203,0.093Z"
                    style="fill:var(--background);"
                  />
                  <path 
                    d="M412.8,0l17.2,16.409l-17.2,16.591l-51.6,-0l-17.2,-16.796l17.2,-16.204l51.6,0Zm-0.401,1l-50.802,0l-16.152,15.217l16.162,15.783l50.789,0l16.159,-15.587l-16.156,-15.413Z" style="fill:none;stroke:var(--peach);" stroke-width="1"
                  />
                  <path 
                    d="M326.8,0l17.2,16.409l-17.2,16.591l-51.6,-0l-17.2,-16.796l17.2,-16.204l51.6,0Zm-0.401,1l-50.802,0l-16.152,15.217l16.162,15.783l50.789,0l16.159,-15.587l-16.156,-15.413Z" style="fill:none;stroke:var(--peach);" stroke-width="1"
                  />
                  <path 
                    d="M240.8,0l17.2,16.409l-17.2,16.591l-51.6,-0l-17.2,-16.796l17.2,-16.204l51.6,0Zm-0.401,1l-50.802,0l-16.152,15.217l16.162,15.783l50.789,0l16.159,-15.587l-16.156,-15.413Z" style="fill:none;stroke:var(--peach);" stroke-width="1"
                  />
                  <path 
                    d="M154.8,0l17.2,16.409l-17.2,16.591l-51.6,-0l-17.2,-16.796l17.2,-16.204l51.6,0Zm-0.401,1l-50.802,0l-16.152,15.217l16.162,15.783l50.789,0l16.159,-15.587l-16.156,-15.413Z" style="fill:none;stroke:var(--peach);" stroke-width="1"
                  />
                  <path 
                    d="M68.8,0.034l17.2,16.409l-17.2,16.591l-51.6,-0l-17.2,-16.796l17.2,-16.204l51.6,-0Zm-0.401,1l-50.802,-0l-16.152,15.217l16.162,15.783l50.789,-0l16.159,-15.587l-16.156,-15.413Z" style="fill:none;stroke:var(--peach);" stroke-width="1"
                  />
                </g>
              </svg>
            {% endfor %}
          </div>
         {% endfor %}
        </div>
      </div>
    </section>
    {# <section class="site-about-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-about-wrapper">
              <div class="site-about-company">
                <h1 class="pitch">- Two decades of diverse design experience combined with relentless curiosity and hunger for learning -</h1>
                <div id='stars'></div>
                <div id='stars2'></div>
                <div id='stars3'></div>
              </div>
              <div class="site-about-description">
                <h2 class="emphasis">
                  {{hdr}}
                </h2>
                <br />
                <p>
                  {{des}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-expertise">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section-title">
              <h3>{{expertise.title1}}</h3>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="site-expertise-list">
              {% for expertIn in expertise.expertIn %}
              <li>{{expertIn}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-5">
            <div class="section-title">
              <h3>{{expertise.title2}}</h3>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="site-expertise-list">
              {% for beginnerWith in expertise.beginnerWith %}
              <li>{{beginnerWith}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="site-client">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="tool-title-centered">
              <h3>{{tools.title}}</h3>
            </div>
            <div class="site-client-wrapper">
              {% for trustedTools in tools.trustedTools %}
              <div class="site-client-item">
                <a href="{{trustedTools.link}}" target="_blank"><img class="icon" src="{{trustedTools.icon}}" alt="[{{trustedTools.altText}}]"></a>
              </div> 
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                {{team.title}}
              </h2>
            </div>
          </div>
          {% for teamMember in team.teamMembers %}
          <div class="col-lg-4 col-md-6">
            <div class="site-team-member">
              <div class="site-team-member-image">
                <img src="{{teamMember.img}}" alt="team-member">
              </div>
              <div class="site-team-member-content">
                <h3>{{teamMember.name}}</h3>
                <p>{{teamMember.dig}}</p>
                <ul class="site-team-member-social">
                  {% for social in teamMember.social %}
                  <li>
                    <a href="/{{social.link}}">
                      <i class="fa fa-{{social.icon}}"></i>
                    </a>
                  </li> 
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section> #}
{% endblock %}