{% extends "base.njk" %}

{% block content %}

    <section class="site-hero">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <p class="catchphrase">{{hero.subTitle}}</p>
              <h1>
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              <ul class="site-hero-content-buttons">
                <li>
                  <a href="{{hero.seeWorkBtn.link}}" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{hero.seeWorkBtn.text}}">
                        {{hero.seeWorkBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}