{% extends "base.njk" %}

{% block content %}

<script src="/assets/js/photoswipe-lightbox.umd.min.js"></script>
<script src= "/assets/js/photoswipe.umd.min.js"></script>

<link rel="stylesheet" href="/assets/css/photoswipe.css">

<section class="site-project-single-section">
  <h1 class="project-category">{{ subTitle }}</h1>
  <div class="container">
    <div class="row">
      <!-- Manually loop through featureImgs and descriptions using their index -->
      {% for case in cases %}
      <div class="col-12 site-project-single-description">
        <h2>{{ case.header }}</h2>
        {% if case.images and case.images[0] and case.images[0].endsWith('.jpg') %}
          <img id="facade" src="{{ case.images[0] }}" alt="{{ case.alts[0] }}" class="img-fluid">
        {% endif %}
        <!-- Figma embed -->
        <div class="proto-gallery" id="project-gallery">
          {% for image in case.images %}
            {% if loop.index > 1 %}
              {% if image.indexOf('proto') > -1 %}
                <a href="{{ image }}" data-pswp-height="1280" data-pswp-width="680" target="_blank">
                  <img src="{{ image }}" alt="{{ case.alts[loop.index0] }} " class="img-fluid">
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <!-- Responsive web samples -->
        <div class="gallery" id="project-gallery">
          {% for image in case.images %}
            {% if loop.index > 1 %}
              {% if image.indexOf('web') > -1 %}
                  <a href="{{ image }}" data-pswp-height="855" data-pswp-width="1520" target="_blank">
                    <img src="{{ image }}" alt="{{ case.alts[loop.index0] }}" class="img-fluid">
                  </a>
              {% elif image.indexOf('print') > -1 %}
                  <a href="{{ image }}" data-pswp-height="1440" data-pswp-width="760" target="_blank">
                    <img src="{{ image }}" alt="{{ case.alts[loop.index0] }}" class="img-fluid">
                  </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <!-- Poster samples -->
        <div class="poster-gallery" id="project-gallery">
          {% for image in case.images %}
            {% if loop.index > 1 %}
              {% if image.indexOf('poster') > -1 %}
                <a href="{{ image }}" data-pswp-height="1340" data-pswp-width="960" target="_blank">
                  <img src="{{ image }}" alt="{{ case.alts[loop.index0] }}" class="img-fluid">
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
         <!-- HTML5 shell samples -->
         <div class="shell-gallery">
          {% for image in case.images %}
            {% if image.indexOf('shells') > -1 %}
              <iframe 
                src="{{ image }}" 
                data-breakpoint="{% if loop.index < 3 %}mobile{% elif loop.index < 5 %}tablet{% else %}desktop{% endif %}"
                title="{{ case.alts[loop.index0] }}" 
                frameborder="0" 
                scrolling="no" 
                class="responsive-iframe hidden">
              </iframe>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Vertical video samples -->
        <div class="mp4-vrt-gallery row">
          {% for image in case.images %}
            {% if image.indexOf('vertical') > -1 %}
              <video class="vertical-video" controls>
                <source src="{{ image }}" alt="{{ case.alts[loop.index0] }}" type="video/mp4">
              </video>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Horizontal video samples -->
        <div class="mp4-hrz-gallery row">
          {% for image in case.images %}
            {% if image.indexOf('landscape') > -1 %}
              <video class="horizontal-video"controls>
                <source src="{{ image }}" alt="{{ case.alts[loop.index0] }}" type="video/mp4">
              </video>
            {% endif %}
          {% endfor %}
        </div>
        <!-- YouTube video samples -->
         <div class="youtube-gallery">
          {% for image in case.images %}
            {% if image.indexOf('youtube') > -1 %}
              <iframe class="youtube-video" src="{{ image }}" title="{{ case.alts[loop.index0] }}" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Brand samples -->
        <div class="brand-gallery" id="project-gallery">
          {% for image in case.images %}
            {% if image.indexOf('composites') > -1 %}
              <a href="{{ image }}" data-pswp-height="1080" data-pswp-width="1080" target="_blank">
              <img src="{{ image }}" alt="{{ case.alts[loop.index0] }}" class="img-fluid">
            </a>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Layouts if any of such -->
        {% if case.layouts and case.layouts | length > 0 %}
          <p style="text-align: center">
            <button class="toggle" data-toggle="collapse" href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ loop.index }}">
              Expand / Collapse layouts
            </button>
          </p>
        {% endif %}
        <div class="collapse" id="collapseExample{{ loop.index }}">
          <div class="card card-body">
            {% for layout in case.layouts %}
              {% if loop.index > 0 %}
              <img class="layout" src="{{ layout.path }}" alt="{{ layout.alt }}" />
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- Project description -->
        <p class="case-legend">{{ case.description | safe }}</p>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<script type="text/javascript">
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#project-gallery',
    children: 'a',
    pswpModule: PhotoSwipe,
    preload: [1, 1]
    });
  lightbox.init();

  document.addEventListener("DOMContentLoaded", function () {
  const gallery = document.getElementById("project-gallery");
  const iframes = gallery.querySelectorAll("iframe");

  function adjustIframes() {
    const screenWidth = window.innerWidth;

    iframes.forEach((iframe) => {
      const breakpoint = iframe.dataset.breakpoint;

      // Reset visibility
      iframe.classList.add("hidden");

      if (screenWidth < 575 && breakpoint === "mobile") {
        iframe.classList.remove("hidden");
      } else if (screenWidth >= 575 && screenWidth < 768 && breakpoint === "tablet") {
        iframe.classList.remove("hidden");
      } else if (screenWidth >= 1199 && breakpoint === "desktop") {
        iframe.classList.remove("hidden");
      }
    });
  }

  // Initial adjustment
  adjustIframes();

  // Adjust on window resize
  window.addEventListener("resize", adjustIframes);
});

</script>
  
{% endblock %}