{% extends "base.njk" %}

{% block content %}
  <section class="site-project-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="site-project-header-content">
              <h1 class="projects-introductory">
                {{pagination.description}}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="site-project" id="project">
      <div class="container">
        {% for portfolio in collections.portfolios %}
        {% if loop.index0 % 3 == 0 %}
          <div class="row">
        {% endif %}
            <div class="col-sm-4">
              <div class="site-project-item">
                <div class="site-project-item-thumb">
                  <img src="{{portfolio.data.img}}" alt="{{portfolio.data.alt}}">
                    </div>
                    <div class="site-project-item-content">
                      <a href="{{portfolio.url}}" class="read-more">
                        <span style="text-transform: uppercase;">{{portfolio.data.subTitle}}</span>
                        <h2 style="font-size: 30px; font-weight: 500;">{{portfolio.data.title}}</h2>
                        <p>{{portfolio.data.linkText}}</p>
                      </a>
                  </div>
              </div>
            </div>
          {% if loop.index0 % 3 == 2 %}
          </div> <!-- close row after 3 items -->
          {% endif %}
        {% endfor %}
      </div>
    </section>
{% endblock %}