@font-face {
  font-family: 'OP Chevin Pro Light';
  src: url('https://displayadvertising.s3.eu-north-1.amazonaws.com/fonts/chevin-light.eot');/* IE9 Compat Modes */
  src: url('https://displayadvertising.s3.eu-north-1.amazonaws.com/fonts/chevin-light.woff2') format('woff2'), /* Super Modern Browsers */
  url('https://displayadvertising.s3.eu-north-1.amazonaws.com/fonts/chevin-light.woff') format('woff'), /* Pretty Modern Browsers */
  url('https://displayadvertising.s3.eu-north-1.amazonaws.com/fonts/chevin-light.ttf') format('truetype')/* Safari, Android, iOS */
}

a,
a:focus,
a:hover {
  color: #fff;
}

 html{
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  font-family: "OP Chevin Pro Light", sans-serif;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.banner {
	background-color: #fff;
  width:300px;
	height:600px;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
	position:absolute;
	cursor:pointer;
  border: 1px solid #e2e2e2;
}

.hide{
  visibility: hidden;
}

.bg{
  position: absolute;
  left:0px;
  bottom:0px;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
	width: 260px;
	height: 548px;
	margin: 20px;
  margin-bottom: 30px;
}

.text{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 260px;
}
.otsikko {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 38px;
}
.alaotsikko {
  margin-top: 20px;
  font-size: 18px;
}

.cta{
  text-shadow: none;
  margin-top: 30px;
  width: 170px;
  height:40px;
  background: #f15c00;
  border-radius: 50px;
  font-size: 14px;
}

.cta-text{
  text-align: center;
  padding: 11px;
}

.disclaimer {
  margin-top: 330px;
  font-size: 12px;
  width: 170px;
}

.logo {
  position: absolute;
	right:0px;
  bottom:0px;
	height: 38px;
  filter: drop-shadow(5px 5px 5px #2d2d2d);
}
